.about-me
  {
    font-size: 20;
    background-image: url();
    width: 100pc;
    border: 10px solid rgb(25, 21, 26);
    padding-left: 25pc;
    padding-right: 25pc;
    margin: 20px;
    
  }
  
  .header
    {
      text-align: center;
      
      background-image: url(images/programming.jpeg);
      background-position: center;
      background-size: cover;
      width: 100pc;
      height: 30pc;
      border: 10px solid rgb(25, 21, 26);
      padding: 20px;
      margin: 10px;
      
    
    }

  h1
    {
        text-align: center;
        font-style: italic;
        font-size: 15;
        color:grey;
        
    }
  
.projects
   {
     text-align: center;
     font-size: 20;
     align-content: center;
     
     
   }
   
   img
    {
    
      margin-left: 25%;
      margin-right: 25%;      
      border-radius: 50%;
    border-color: black;
    border: solid;
    border: bold;
    width: 25pc;
    
    } 
    

   
